**/__pycache__/
**/*.py[cod]
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
**/.venv/
**/venv/
**/build/
**/dist/
**/release/
**/release-secrets/
**/client_secret.json
**/token.dat
**/token.json
**/.env
